.nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: flex-end;
}

.link {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  color: var(--color-text);
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary);
}

.linkActive {
  color: var(--color-primary);
}
