@import "tailwindcss";

@layer base {
  body {
    font-family: "Roboto Variable", sans-serif;
    font-weight: 400;
    background-color: #f8fafc;
    color: #0f172a;
  }

  h1 {
    font-family: "Alice", serif;
  }
}
